<app-header></app-header>
<div class="Container">
    <div class="Container_action_Contact">
        <!-- <h1>a-propos</h1> -->
       
    </div>
</div>
<!-- <div class="section_mission">
    <h4 style="font-weight: bold;text-align: center;">Notre Mission</h4>
    <p> Nous aspirons à rendre le mentorat accessible à tous, offrant ainsi des opportunités de développement personnel
        et
        professionnel à chaque coin du monde. Nous croyons fermement que chaque interaction de mentorat est une occasion
        de
        catalyser le succès et de stimuler la croissance.</p>
    <div class="section_stat">
        <div>
            <img src="https://img.freepik.com/photos-gratuite/femme-medecin-montrant-sa-main-droite_23-2148525067.jpg?size=626&ext=jpg&ga=GA1.1.780285893.1697472738&semt=ais">
        </div>
        <div>
            <img src="https://img.freepik.com/photos-gratuite/homme-medecin-africain-isole-fond-blanc_93675-128521.jpg?size=626&ext=jpg&ga=GA1.1.780285893.1697472738&semt=ais">
        </div>
        <div>
            <img src="https://img.freepik.com/photos-gratuite/homme-medecin-afro-americain_93675-128210.jpg?size=626&ext=jpg&ga=GA1.1.780285893.1697472738&semt=ais">
        </div>

    </div>
</div> -->


<section class="container mb-4 mt-5" >

    <div class="card shadow-sm container">

        <div class=" mb-3 " style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="https://img.freepik.com/photos-gratuite/femme-noire-stethoscope_1157-15569.jpg?t=st=1709231651~exp=1709235251~hmac=4f78ea6374774e775e4b8df16baec3271edb10d37aef4b4a59ae5f691cb4169f&w=996"
                        alt="" class="img-fluid rounded-start">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 style="font-weight: bold;">Présentation</h4>
                    Sama Docteur est une plateforme qui facilite la relation entre les docteurs et les patients . elle permet aussi de
                    trouver les hôpitaux du Sénégal et de savoir leur lien sans se déplacer ou se fatiguer  ; elle permet de prendre des rendez-vous de savoir les services des hopitaux. Elle a éte mis en place par des
                    jeunes développeurs Sénégalais très
                    ambixieux et dynamique . 
                
                      
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<div class="historique">
    <h1 style="text-align: center;">Nos Objectifs</h1>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
    </style>
    <!--This is the main container that contains the whole timeline.-->
    <section class="design-section">
        <div class="timeline">
            <div class="timeline-empty">
            </div>

            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>

            <div class="timeline-component timeline-content">
                <div class="date"></div>
                <div class="title">La fondation</div>
                <p>Permettre aux patients de trouver rapidement des professionnels de la santé disponibles pour des consultations, ce qui
                peut contribuer à réduire les délais d'attente et à améliorer l'accessibilité aux soins.</p>
            </div>
            <div class="timeline-component timeline-content">
                <div class="date">Favoriser la transparence</div>
                <div class="title">Les Premiers Pas</div>
                <div class="descr">Fournir des informations détaillées sur les médecins, y compris leurs spécialités, leurs qualifications, leurs tarifs,
                et les avis des patients précédents. Cela permet aux patients de faire des choix éclairés.
                </div>
            </div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty">
            </div>

            <div class="timeline-empty">
            </div>

            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class=" timeline-component timeline-content">
                <div class="date">2022</div>
                <div class="title">Expansion et Divérsification</div>
                <div class="descr">Fortifiés par les retours et encouragements de nos premiers utilisateurs, nous avons entrepris une expansion audacieuse.
                Cette année-là, nous avons diversifié notre offre de mentorat, proposant une palette plus large de domaines d'expertise
                pour répondre aux besoins variés de nos utilisateurs grandissants. Cette expansion a été un moment charnière dans notre
                croissance rapide..</div>
            </div>
            <div class=" timeline-component timeline-content">
                <div class="date"></div>
                <div class="title">Assurer la confidentialité et la sécurité des données</div>
                <div class="descr">L: Mettre en place des mesures de sécurité robustes pour protéger les informations médicales et personnelles des
                utilisateurs, conformément aux réglementations en vigueur..</div>
            </div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty">
            </div>

            <div class="timeline-empty">
            </div>

        </div>

    </section>
    <br><br><br><br>
    <app-footer></app-footer>