
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajouterHopital">
   Ajouter
</button>

<!-- Modal -->
<div class="modal fade" id="ajouterHopital"ad tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="nom" class="form-label">Nom_hopital</label>
                            <input type="text" class="form-control" id="nom" name="nom_hopital" [(ngModel)]="nom_hopitaux" />
                        </div>
                        <div class="mb-3 col-6">
                            <label for="prenom" class="form-label">Lattitude</label>
                            <input type="text" class="form-control" id="prenom" name="lattitudeHopitaux" [(ngModel)]="lattitudeHopitaux" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="email" class="form-label">Longitude</label>
                            <input type="email" class="form-control" id="email" name="longitudeHopitaux" [(ngModel)]="longitudeHopitaux" />
                        </div>
                        <div class="mb-3 col-6">
                            <label for="photo_profil_Mentor" class="form-label">Image</label>
                            <input (change)="getFile($event)" class="form-control" type="file" id="photo_profil" name="image"
                                accept="image/*">
                        </div>
                    </div>
                    <div class="mb-3 col-6 ms-3">
                        <label for="role" class="form-label">localite_id: </label>
                        <select class="form-select" aria-label="Default select example" name="localite_idHopitaux"
                            [(ngModel)]="localite_idHopitaux">
                            <option selected>Veuillez selectionner votre specialite</option>
                            <option value="1">Cardiologue</option>
                            <option value="2">Chrigien</option>
                            <option value="3">Généraliste</option>
                            <option value="3">Dentiste</option>
                
                
                        </select>
                        <p>{{localite_idHopitaux}}</p>
                    </div>
                    <div class="mb-3 col-6 ms-3">
                        <label for="anneeExperience" class="form-label">horaire</label>
                        <input type="text" class="form-control" id="anneeExperience" name="horaireHopitaux"
                            [(ngModel)]="horaireHopitaux" />
                
                    </div>
                    <div class="mb-3 col-6 ms-3">
                        <label for="anneeExperience" class="form-label">Description</label>
                        <input type="text" class="form-control" id="anneeExperience" name="descriptionHopitaux" [(ngModel)]="descriptionHopitaux" />
                    
                    </div>
                
                
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="addHopitaux()">Ajouter</button>
                <button type="button" class="btn btn-primary">Annuler</button>
            </div>
        </div>
    </div>
</div>

  