
</section>


<!-- Conctact Card  -->



<section class="section contact-info pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-live-support"></i>
                    <h5>Appelez vous </h5>
                  3308343360
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-support-faq"></i>
                    <h5>Email </h5>
                    samadocteur@mail.com
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-location-pin"></i>
                    <h5>Localisation</h5>
                    Yoff,Mermoz Dakar ,Sénégal
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row justify-content-center w-100">
    <div class="col-lg-6">
        <div class="section-title text-center">
            <h2 class="text-md mb-2">Contact us</h2>
            <div class="divider mx-auto my-4"></div>
            <p class="mb-5">Laboriosam exercitationem molestias beatae eos pariatur, similique, excepturi mollitia sit
                perferendis maiores ratione aliquam?</p>
        </div>
    </div>
</div>
 <!-- <div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
        <div>
            <label for="">Email</label>
            <input type="
            "> 
        </div>
        </div>

        <div class="col-6 col-md-4">
        <label for="">Mot de passe </label>
        <input type="
                    ">
        </div>
        
    </div>

 </div> -->
<app-footer></app-footer>