<!-- <button>
<a class="dropdown-item" class="btn btn-primary  mybtn" style="background-color: #007A64; color:#fff" (click)="logout()">Déconnexion</a>
</button> -->
<div class="dropdown">
    <button class="btn btn-primary mybtn" style="background-color: #007A64; color:#fff" type="button"
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  (click)="logout()">
        Déconnexion
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Déconnexion</a>
    </div>
</div>
