// #login{
//     margin-left: 5px;
//     border-radius: 5px ;
//     color: white;
//     background-color: #2e2e2e;

// }

// #myBtn {
//     color: white;
//     border: 1px solid #26235C;
//     // background-color: #26235C;

// }
.header-top-bar{
    padding: 25px;
}
#navbar {
  
    // padding-top:-125px ;
    margin-top:-60px ;
}

#myBtn{
    // position: absolute;
    right: 0;
    background-color: #223A66;
    padding: 0.8em;
    color: white;
    border-radius: 7px;
    margin-right: 15px;
    width: 130px;
    height: 40px;
    text-align: center;

    // font-size: 5px;
}
#myBtn a {
    color:#fff;
    font-weight: bold;
    font-size: 12px;
    margin-top: -10px;
    padding: 10px;
}