<div class="container-fluid"> 

    <div class="row ">
     <div class="col-12 col-md-4">
        <div class="card class shadow">
            <div class="card-body">
                <h5 class="card-title chiffre">10</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Totaux Docteurs </h6>
             
                    <i class="fa-solid fa-user-doctor "></i>
            </div>
        </div>
        </div>

    <div class="col-12 col-md-4">
        <div class="card class shadow ">
            <div class="card-body">
                <h5 class="card-title">10</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Patients totaux</h6>
            <i class="fa-solid fa-hospital-user"></i>
               
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card class shadow">
            <div class="card-body">
                <h5 class="card-title">10</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Totaux hopitaux </h6>
                <i class="fa-solid fa-hospital-user"></i>
                
         
                
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>


<app-table></app-table>




 </div>
 
