<app-header></app-header>

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xl-7">
                <div class="block">
                    <div class="divider mb-3"></div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- 

<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Rechercher un hôpital..." [(ngModel)]="searchTerm"
            (input)="searchHospital()">
    </div>
</div>

<!--  
<div class="row border">
    <div class="justify-content-between align center w-100 mt-5" id="bande">
        <ul class="mt-3">
            <li>Pikine</li>
            <li>Guédiawaye</li>
            <li>Parcelle Assainie</li>
            <li>Grand Yoff</li>
            <li >Ouakam</li>
            <li>Plateau</li> 
        </ul>
    </div>
</div>  -->

<!-- <div class="row border">
    <div class="justify-content-between align center w-100 mt-5" id="bande">
        <ul class="mt-3">
            <li (click)="filterHospitalsByLocality('Pikine')">Pikine</li>
            <li (click)="filterHospitalsByLocality('Guédiawaye')">Guédiawaye</li>
            <li (click)="filterHospitalsByLocality('Parcelle Assainie')">Parcelle Assainie</li>
            <li (click)="filterHospitalsByLocality('Grand Yoff')">Grand Yoff</li>
            <li (click)="filterHospitalsByLocality('Ouakam')">Ouakam</li>
            <li (click)="filterHospitalsByLocality('Plateau')">Plateau</li>
        </ul>
    </div>
</div> --> -->




<div class="row border">
    <div class="justify-content-between align center w-100 mt-5" id="bande">
        <ul class="mt-3">
            <li (click)="getHopitauxByLocaliteId()">Pikine</li>
            <li (click)="getHopitauxByLocaliteId()">Guédiawaye</li>
            <!-- Ajoutez les autres localités avec les ID correspondants -->
        </ul>
    </div>
</div>

<h1 class="text-capitalize mb-5 text-lg" class="text-center mt-5"> Trouver un Hopital  </h1>
<section class="section service-2">
    <div class="container">
        <div class="row">

  
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let hopital of Hopitaux">
                <div class="service-block mb-5 mb-lg-0">
                    <img src= "http://127.0.0.1:8000/hopitauxImage/{{hopital.image}}" alt="" class="img-fluid">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">{{hopital.nom_hopital}}</h4>
                        <p class="mb-4">{{hopital.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<app-footer></app-footer>