<app-header></app-header>

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xl-7">
                <div class="block">
                    <div class="divider mb-3"></div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- 

<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Rechercher un hôpital..." [(ngModel)]="searchTerm"
            (input)="searchHospital()">
    </div>
</div>

<!--  
<div class="row border">
    <div class="justify-content-between align center w-100 mt-5" id="bande">
        <ul class="mt-3">
            <li>Pikine</li>
            <li>Guédiawaye</li>
            <li>Parcelle Assainie</li>
            <li>Grand Yoff</li>
            <li >Ouakam</li>
            <li>Plateau</li> 
        </ul>
    </div>
</div>  -->

<!-- <div class="row border">
    <div class="justify-content-between align center w-100 mt-5" id="bande">
        <ul class="mt-3">
            <li (click)="filterHospitalsByLocality('Pikine')">Pikine</li>
            <li (click)="filterHospitalsByLocality('Guédiawaye')">Guédiawaye</li>
            <li (click)="filterHospitalsByLocality('Parcelle Assainie')">Parcelle Assainie</li>
            <li (click)="filterHospitalsByLocality('Grand Yoff')">Grand Yoff</li>
            <li (click)="filterHospitalsByLocality('Ouakam')">Ouakam</li>
            <li (click)="filterHospitalsByLocality('Plateau')">Plateau</li>
        </ul>
    </div>
</div> --> 




<div class="row border">
    <div class="justify-content-between align center w-100 mt-5" id="bande">
        <ul class="mt-3">
            <!-- <li >Guédiawaye</li>
            <li >Pikine</li> -->

            <li (click)="onSelectLocalite(1)">Pikine</li>
            <li (click)="onSelectLocalite(2)">Guédiawaye</li>
            <li (click)="onSelectLocalite(5)">Grand Dakar</li>
            <li (click)="onSelectLocalite(6)">Ouakam</li>
            <li (click)="onSelectLocalite(3)">Fann</li>

            <!-- (click)="getHopitauxByLocaliteId()" -->

            <!-- click)="getHopitauxByLocaliteId()" -->
            <!-- Ajoutez les autres localités avec les ID correspondants -->
        </ul>
    </div>
</div>

<h1 class="text-capitalize mb-5 text-lg" class="text-center mt-5"> Trouver un Hopital  </h1>
<section class="section service-2">
    <div class="container">
        <div class="row">

            <!-- modal detail hopital -->

          
            
            <!-- Modal -->
            <div class="modal fade" id="detailHopital" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Détail Hopital </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                            <div class="col-4 text-center">
                                <p > Hopital Principal </p>
                            </div>
                            <div class="col-4 text-center">
                                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ad ducimus ipsam
                                    blanditiis pariatur quas hic sapiente corrupti beatae, necessitatibus magnam, aliquid aspernatur libero mollitia
                                    iure molestiae amet repellendus officia.</p>
                            </div>
                          
                          
                            
                            <!-- <img src="https://img.freepik.com/photos-gratuite/medecin-afro-americain-analysant-scan
                            -aux-rayons-x-pour-diagnostic_482257-8992.jpg?size=626&ext=jpg&ga=GA1.1.869340897.1689281166&semt=ais" alt="" class=" col-4 img-fluid">
                             -->
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>

  
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let hopital of Hopitaux | filterByLocalite: selectedLocaliteId">
                <div class="service-block mb-5 mb-lg-0">
                    <img src= "http://127.0.0.1:8000/hopitauxImage/{{hopital.image}}" alt="" class="img-fluid">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">{{hopital.nom_hopitaux}}</h4>
                        <p class="mb-4">{{hopital.description}}</p>
                        <i class="fa-solid fa-eye"  data-bs-toggle="modal" data-bs-target="#detailHopital"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<app-footer></app-footer>