<div class="buttonAjouter mt-2 mb-3">
    <!-- Button modal Ajouter-->
    <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#ajouterspecialite"
        style="background-color: #007A64;">
        Ajouter
    </button>

</div>

<div class="modal fade modal-lg" id="ajouterspecialite" tabindex="-1" aria-labelledby="modifierMentor" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4 fw-semibold text-center w-100" id="detailMentorLabel">
                    Ajouter une region

                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



                <form action="">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="mb-3 col-6">
                            <label for="nom" class="form-label">Nom:</label>
                            <input type="text" name="nom_region" class="form-control" id="nom"
                                [(ngModel)]="nom_specialite" />

                        </div>
                        <p>{{nom_specialite}}</p>

                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn text-white w-25" data-bs-dismiss="modal"
                    style="background-color: #007A64;" (click)="addSpecialite()">
                    Ajouter
                </button>
                <button type="button" class="btn w-25" data-bs-dismiss="modal" style="
            
            background-color: blue;
            border: thin solid;
          ">
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>


<table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table" *ngIf="Specialites.length>0">

    <thead>
        <tr style="background-color: #007A64; color:#fff">
            <th class="tHead">ID</th>
            <th class="tHead">Nom_Region</th>
            <th class="tHead">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let specialite of Specialites">
        <tr>
            <td>{{specialite.id}} </td>
            <td>{{specialite.nom_specialite}}</td>

            <td><span id="icon">
                    <p data-bs-toggle="modal" data-bs-target="#ModifierDocteur"> modifier</p><i
                        class="fa-solid fa-eye"></i><i class="fa-solid fa-trash"></i>
                </span></td>


        </tr>




    </tbody>
</table>