// .modal-xl {
//     max-width: 90%;
// }

.modal-lg {
    max-width: 80%;
}

#myspan {
    margin: 5px;
   
}

// Tritre des H1 
.title1{
    font-size: 5vh !important;
    font-weight: bold !important;
}