
      
  

<!-- Modal ajouter -->
<div class="modal fade modal-lg" id="ajouterDocteur" tabindex="-1" aria-labelledby="modifierMentor" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4 fw-semibold text-center w-100" id="detailMentorLabel">
                    Ajouter un docteur

                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              


            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn text-white w-25" data-bs-dismiss="modal"
                    style="background-color: green" (click)="addDocteur()">
                    Ajouter
                </button>
                <button type="button" class="btn w-25" data-bs-dismiss="modal" style="
            
            background-color: blue;
            border: thin solid;
          ">
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<div class="buttonAjouter mt-2 mb-3">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #007A64;">
Ajouter 
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form action="">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="mb-3 col-6">
                            <label for="nom" class="form-label">Nom:</label>
                            <input type="text" name="nom" class="form-control" id="nom" [(ngModel)]="nomDocteur" />
                
                        </div>
                        <p>{{nomDocteur}}</p>
                        <div class="mb-3 col-6 ms-3">
                            <label for="prenom" class="form-label">Prenom : </label>
                            <input type="text" name="prenom" class="form-control" id="prenom" [(ngModel)]="prenomDocteur" />
                        </div>
                        <p>{{prenomDocteur}}</p>
                
                    </div>
                
                
                    <div class="col-12 d-flex justify-content-between">
                
                        <div class="mb-3 col-6 ms-3">
                            <label for="" class="form-label">Age: </label>
                            <input type="number" name="age" class="form-control" id="age" [(ngModel)]="ageDocteur" />
                        </div>
                
                        <p>{{ageDocteur}}</p>
                
                
                        <div class="mb-3 col-6 ms-3">
                            <label for="" class="form-label">Sexe:</label>
                            <select class="form-select" aria-label="Default select example" name="sexe" [(ngModel)]="sexeDocteur">
                                <option selected>Veuillez selectioner votre sexe</option>
                                <option value="homme">homme</option>
                                <option value="femme">femme</option>
                                <p>{{sexeDocteur}}</p>
                
                            </select>
                        </div>
                
                    </div>
                
                    <div class="col-12 d-flex justify-content-between">
                        <div class="mb-3 col-6">
                            <label for="telephone" class="form-label">Telephone:</label>
                            <input type="tel" name="telephone" class="form-control" id="telephone" [(ngModel)]="telephoneDocteur" />
                        </div>
                        <p>{{telephoneDocteur}}</p>
                        <div class="mb-3 col-6 ms-3">
                            <label for="role" class="form-label">role : </label>
                            <select class="form-select" aria-label="Default select example" name="role_id" [(ngModel)]="roleDocteur"> 
                                <option selected>Veuillez selectionner votre statut</option>
                                <option value="1">Admin</option>
                                <option value="2">Clients</option>
                                <option value="3">Docteurs</option>
                
                            </select>
                            <p>{{roleDocteur}}</p>
                        </div>
                    </div>
                
                    <div class="col-12 d-flex justify-content-between">
                        <div class="mb-3 col-6">
                            <label for="emailInput" class="form-label">Adresse email:</label>
                            <input type="email" name="email" class="form-control" id="email" [(ngModel)]="emailDocteur" />
                        </div>
                        <!-- <p>{{emailDocteur}}</p> -->
                        <div class="mb-3 col-6 ms-3">
                            <label for="password" class="form-label">Mot de passe :
                            </label>
                            <input type="password" name="password" class="form-control" id="password" [(ngModel)]="passwordDocteur" />
                        </div>
                        <!-- <p>{{passwordDocteur}}</p> -->
                
                    </div>
                
                    <div class="col-12 d-flex justify-content-between">
                
                        <div class="mb-3 col-6 ms-3">
                            <label for="passwordInput" class="form-label">Adresse :
                            </label>
                            <input type="text" name="adresse" class="form-control" id="adresse" [(ngModel)]="adresseDocteur" />
                        </div>
                        <p>{{adresseDocteur}}</p>
                        <div class="mb-3 col-6 ms-3">
                            <label for="photo_profil" class="form-label" name="photo_profil">Photo_profil:</label>
                
                            <input (change)="getFile($event)" class="form-control" type="file" id="photo_profil" name="photo_profil"
                                accept="photo_profil/*">
                        </div>
                        <p>{{photo_profilDocteur}}</p>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <div class="mb-3 col-6">
                            <label for="nom" class="form-label">N°licence:</label>
                            <input type="number" name="nom" class="form-control" id="nom" [(ngModel)]="numero_licenceDocteur" />
                
                        </div>
                        <p>{{numero_licenceDocteur}}</p>
                        <div class="mb-3 col-6 ms-3">
                            <label for="prenom" class="form-label">Année Experience : </label>
                            <input type="text" name="prenom" class="form-control" id="prenom" [(ngModel)]="nombre_annee_experienceDocteur" />
                        </div>
                        <p>{{nombre_annee_experienceDocteur}}</p>
                
                    </div>
                
                    <div class="col-12 d-flex justify-content-between">
                        <div class="mb-3 col-6">
                            <label for="diplome" class="form-label">diplome:</label>
                            <input (change)="getFile($event)" class="form-control" type="file" id="diplome" name="diplomeDocteur"
                                accept="diplome/*">
                        </div>
                        <p>{{diplomeDocteur}}</p>
                        <div class="mb-3 col-6 ms-3">
                            <label for="role" class="form-label">specialite : </label>
                            <select class="form-select" aria-label="Default select example" name="specialite_id"
                                [(ngModel)]="specialite_id">
                                <option selected>Veuillez selectionner votre specialite</option>
                                <option value="1">Cardiologue</option>
                                <option value="2">Dermatologue</option>
                                <option value="3">Urologue</option>
                                <option value="4"></option>
                
                
                            </select>
                            <p>{{specialite_id}}</p>
                        </div>
                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-white w-25" data-bs-dismiss="modal" style="background-color: green"
                    (click)="addDocteur()">
                    Ajouter
                </button>
                <button type="button" class="btn w-25" data-bs-dismiss="modal" style="
                            
                            background-color: blue;
                            border: thin solid;
                          ">
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>





<table class="table align-middle mb-0  ">
    <thead class="bg-light" >
        <tr style="background-color: #007A64; color:#fff">
            <th>Id</th>
            <th>numero_licence </th>
            <th>specialite</th>
             <th>Diplome</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngFor="let docteur of Docteurs; let index=index">
        <tr >
            <td>
                <!-- <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
                        class="rounded-circle" />
                  
                </div> -->
                {{index+1}}
            </td>
            <td>
            
                <p class="text-muted mb-0">{{docteur.numero_licence}}</p>
            </td>
            <td>
                <div class="ms-3">
                    <p class="fw-bold mb-1">{{docteur.specialite_id }} </p>
                
                </div>
            </td>
            <td>{{docteur.diplome}}</td>
            <td>
        <i class="fa-solid fa-trash" style="color: #007A64;" (click)="supprimerDocteur(docteur.id)"></i>
 
                
            </td>
        </tr>
      
    </tbody>
</table>



