<app-header></app-header>
<div class="Container">
    <div class="Container_action_Contact">
        <!-- <h1>a-propos</h1> -->
       
    </div>
</div>
<div class="section_mission">
    <h4 style="font-weight: bold;text-align: center;">Notre Mission</h4>
    <p> Nous aspirons à rendre le mentorat accessible à tous, offrant ainsi des opportunités de développement personnel
        et
        professionnel à chaque coin du monde. Nous croyons fermement que chaque interaction de mentorat est une occasion
        de
        catalyser le succès et de stimuler la croissance.</p>
    <div class="section_stat">
        <div>
            <img src="assets/dixpercent.png">
        </div>
        <div>
            <img src="assets/cinqpercent.png">
        </div>
        <div>
            <img src="assets/cinqcinqpercent.png">
        </div>

    </div>
</div>

<div class="historique">
    <h1 style="text-align: center;">historique</h1>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
    </style>
    <!--This is the main container that contains the whole timeline.-->
    <section class="design-section">
        <div class="timeline">
            <div class="timeline-empty">
            </div>

            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>

            <div class="timeline-component timeline-content">
                <div class="date">2020</div>
                <div class="title">La fondation</div>
                <p>L'histoire de Guindiko prend racine en 2019 avec une vision audacieuse de connecter les esprits
                    passionnés
                    par le mentorat. Cette année-là, une équipe déterminée a semé les premières graines de ce qui allait
                    devenir
                    une
                    plateforme révolutionnaire. Des heures de planification, de discussions et de développement ont
                    permis
                    d'établir les
                    bases solides nécessaires pour concrétiser cette vision ambitieuse.</p>
            </div>
            <div class="timeline-component timeline-content">
                <div class="date">2021</div>
                <div class="title">Les Premiers Pas</div>
                <div class="descr">Après une année de travail acharné, notre plateforme a finalement vu le jour en
                    version bêta.
                    C'était
                    un moment
                    d'excitation et de nervosité alors que nos premiers utilisateurs rejoignaient notre communauté
                    naissante. Les
                    retours
                    précieux de ces pionniers ont été d'une importance capitale pour façonner nos futures améliorations
                    et
                    orientations.
                </div>
            </div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty">
            </div>

            <div class="timeline-empty">
            </div>

            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class=" timeline-component timeline-content">
                <div class="date">2022</div>
                <div class="title">expansion et Divérsification</div>
                <div class="descr">Fortifiés par les retours et encouragements de nos premiers utilisateurs, nous avons
                    entrepris une
                    expansion audacieuse.
                    Cette année-là, nous avons diversifié notre offre de mentorat, proposant une palette plus large de
                    domaines
                    d'expertise
                    pour répondre aux besoins variés de nos utilisateurs grandissants. Cette expansion a été un moment
                    charnière
                    dans
                    notre
                    croissance rapide.</div>
            </div>
            <div class=" timeline-component timeline-content">
                <div class="date">2023</div>
                <div class="title">Inpact et Reussite</div>
                <div class="descr">L'année 2018 a été le témoin de nombreux succès et réalisations pour notre
                    communauté. Les
                    récits inspirants de réussite
                    et d'impact positif du mentorat sur les vies et les carrières ont alimenté notre détermination à
                    continuer
                    d'offrir des
                    expériences de mentorat de qualité. Ces histoires de succès sont devenues la pierre angulaire de
                    notre
                    motivation.</div>
            </div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty">
            </div>

            <div class="timeline-empty">
            </div>

        </div>

    </section>
    <br><br><br><br>
    <app-footer></app-footer>