
<div class="main-content">
    <div class="row">
        <div class="col-md-2 m-0 p-0 border" >
            <app-sidebar-docteur></app-sidebar-docteur>
        </div>
        <div class="col-md-10">
            <div class="navbar">

            </div>
            <div class="content">
               <router-outlet></router-outlet>
            </div>
        </div>
              
           
    </div>
</div>
<!-- *ngIf="isSidebarVisible" -->
<!-- </div> -->

<!-- <div class="contenu m-0" [ngClass]="{'col-md-10': isSidebarVisible, 'col-md-12': !isSidebarVisible}"> -->

