#imagecarde img {
    // border-right: 5px solid #26E88B;
    // border-radius: 100%;
    // width: 150px;

    // height: 150px;

    .section_search button {
            width: 100px;
            border: none;
            background-color: black;
            padding: 0.5em;
            margin-left: 2px;
            color: white
        }

    width: 132.068px;
    height: 153.975px;
    flex-shrink: 0;
    // text-align: center ;
    margin: 0 auto;
    border-radius: 100px;
    border: 2px solid #26235C;
    stroke-width: 100px;
    stroke: #26E88B;


}

svg {
    margin-right: 20px;
    margin-bottom: -120px;
    width: 110%;
}

#myBtn {
    color: white;
    border: 2px solid #26235C;
    background-color: #26235C;

}

.traitCard{
    border-bottom: 10px solid #26235C;
}