<app-header></app-header>

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xl-7">
                <div class="block">
                    <div class="divider mb-3"></div>




                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="section_search">
    <form action="">
        <input type="text" placeholder="Cherchez un mentor">
        <button>search</button>
    </form>
</div> -->
<div class="container">
    <div class="row mt-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-4 col-sm-4">
    
                <div class="card shadow traitCard" style="border-radius: 50px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4" id="imagecarde">
                            <img src="https://img.freepik.com/photos-premium/medecin-souriant-vue-laterale-clinique_23-2149726955.jpg?size=626&ext=jpg&ga=GA1.2.780285893.1697472738&semt=ais"
                                class="img-fluid" />
    
    
                        </div>
                        <h4 class="mb-2" id="montitre">Marieme Diop</h4>
                        <p>Cardiologue</p>
                        <p class="text-muted mb-4"> Une spécialiste en cardiologie est une professionnelle de la santé
                            hautement qualifiée spécialisée dans le diagnostic,
                            le traitement et la prévention des maladies cardiovasculaires</p>
                        <div class="mb-4 pb-2">
                            <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-facebook-f fa-lg"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-twitter fa-lg"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-skype fa-lg"></i>
                            </button>
                        </div>
                        <button type="button" class="btn btn-rounded btn-lg" id="myBtn">
                            Voir plus
                        </button>
                        <div class="d-flex justify-content-between text-center mt-5 mb-2">
                            <div id="borderbtt">
    
    
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
    
    
    
            <div class="col-12 col-md-4 col-sm-4">
    
                <div class="card shadow traitCard" style="border-radius: 50px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4" id="imagecarde">
                            <img src="https://img.freepik.com/photos-gratuite/sympathique-medecin-afro-americain-tenant-presse-papiers-souriant-camera-isolee-fond-gris_231208-2232.jpg?size=626&ext=jpg&ga=GA1.1.869340897.1689281166&semt=ais"
                                class="img-fluid" />
    
    
    
                        </div>
                        <h4 class="mb-2" id="montitre">Moussa Dia</h4>
                        <p> Dermatologue</p>
                        <p class="text-muted mb-4"> Un dermatologue est un médecin spécialisé dans le diagnostic, le
                            traitement et la prévention des maladies et des
                            affections de la peau, des cheveux et des ongles.</p>
                        <div class="mb-4 pb-2">
                            <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-facebook-f fa-lg"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-twitter fa-lg"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-skype fa-lg"></i>
                            </button>
                        </div>
                        <button type="button" class="btn btn-rounded btn-lg" id="myBtn">
                            Voir plus
                        </button>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="360" height="61" viewBox="10 5  360 59" fill="none"
                            id="bordure">
                            <path
                                d="M357.243 30.5897V3.15121C357.243 1.51008 355.913 0.179688 354.271 0.179688C352.63 0.179688 351.3 1.51008 351.3 3.15121V21.9182C351.3 27.7144 348.985 33.2706 344.87 37.3523L340.175 42.0087C333.131 48.9957 323.611 52.9161 313.69 52.9161H42.483C32.4438 52.9161 22.8552 48.7482 16.0067 41.4076L12.2113 37.3394C8.39536 33.2493 6.27321 27.8638 6.27321 22.27V3.31629C6.27321 1.58399 4.86891 0.179688 3.13661 0.179688C1.40431 0.179688 0 1.584 0 3.31629V30.5897C0 47.3847 13.615 60.9998 30.41 60.9998H326.833C343.628 60.9998 357.243 47.3847 357.243 30.5897Z"
                                fill="#0F2A5B" />
                        </svg> -->
                        <div class="d-flex justify-content-between text-center mt-5 mb-2">
                            <div id="borderbtt">
    
    
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
    
            <div class="col-12 col-md-4 col-sm-4">
    
                <div class="card shadow traitCard" style="border-radius: 50px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4" id="imagecarde">
                            <img src="https://img.freepik.com/photos-gratuite/medecin-smiley-coup-moyen-stethoscope_23-2149844586.jpg?size=626&ext=jpg&ga=GA1.2.869340897.1689281166&semt=ais"
                                class="img-fluid" />
    
                        </div>
                        <h4 class="mb-2" id="montitre">Aicha ly </h4>
                        <p></p>
                        <p class="text-muted mb-4"> Un dentiste est un professionnel de la santé spécialisé dans le
                            diagnostic, le traitement et la prévention des maladies
                            et des affections affectant les dents les gencives, la bouche et les maxillaires</p>
                        <div class="mb-4 pb-2">
                            <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-facebook-f fa-lg"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-twitter fa-lg"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-floating">
                                <i class="fab fa-skype fa-lg"></i>
                            </button>
                        </div>
                        <button type="button" class="btn btn-rounded btn-lg" id="myBtn">
                            Voir plus
                        </button>
    
                        <div class="d-flex justify-content-between text-center mt-5 mb-2">
                            <div id="borderbtt">
    
    
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="row mt-5 ">
        <div class="col-12 col-md-4 col-sm-4">

            <div class="card shadow traitCard" style="border-radius: 50px;">
                <div class="card-body text-center">
                    <div class="mt-3 mb-4" id="imagecarde">
                        <img src="https://img.freepik.com/photos-premium/medecin-souriant-vue-laterale-clinique_23-2149726955.jpg?size=626&ext=jpg&ga=GA1.2.780285893.1697472738&semt=ais"
                            class="img-fluid" />


                    </div>
                    <h4 class="mb-2" id="montitre">Marieme Diop</h4>
                    
                    <p class="text-muted mb-4"> Une spécialiste en cardiologie est une professionnelle de la santé
                        hautement qualifiée spécialisée dans le diagnostic,
                        le traitement et la prévention des maladies cardiovasculaires</p>
                    <div class="mb-4 pb-2">
                        <button type="button" class="btn btn-outline-primary btn-floating">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-floating">
                            <i class="fab fa-twitter fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-floating">
                            <i class="fab fa-skype fa-lg"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-rounded btn-lg" id="myBtn">
                        Voir plus
                    </button>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="360" height="61" viewBox="10 5  360 59" fill="none"
                        id="bordure">
                        <path
                            d="M357.243 30.5897V3.15121C357.243 1.51008 355.913 0.179688 354.271 0.179688C352.63 0.179688 351.3 1.51008 351.3 3.15121V21.9182C351.3 27.7144 348.985 33.2706 344.87 37.3523L340.175 42.0087C333.131 48.9957 323.611 52.9161 313.69 52.9161H42.483C32.4438 52.9161 22.8552 48.7482 16.0067 41.4076L12.2113 37.3394C8.39536 33.2493 6.27321 27.8638 6.27321 22.27V3.31629C6.27321 1.58399 4.86891 0.179688 3.13661 0.179688C1.40431 0.179688 0 1.584 0 3.31629V30.5897C0 47.3847 13.615 60.9998 30.41 60.9998H326.833C343.628 60.9998 357.243 47.3847 357.243 30.5897Z"
                            fill="#0F2A5B" />
                    </svg> -->
                    <div class="d-flex justify-content-between text-center mt-5 mb-2">
                        <div id="borderbtt">


                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div class="col-12 col-md-4 col-sm-4">

            <div class="card shadow traitCard " style="border-radius: 50px;">
                <div class="card-body text-center">
                    <div class="mt-3 mb-4" id="imagecarde">
                        <img src="https://img.freepik.com/photos-premium/medecin-souriant-vue-laterale-clinique_23-2149726955.jpg?size=626&ext=jpg&ga=GA1.2.780285893.1697472738&semt=ais"
                            class="img-fluid" />



                    </div>
                    <h4 class="mb-2" id="montitre">Marieme Diop</h4>
                    <p class="text-muted mb-4"> Une spécialiste en cardiologie est une professionnelle de la santé
                        hautement
                        qualifiée spécialisée dans le diagnostic,
                        le traitement et la prévention des maladies cardiovasculaires</p>
                    <div class="mb-4 pb-2">
                        <button type="button" class="btn btn-outline-primary btn-floating">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-floating">
                            <i class="fab fa-twitter fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-floating">
                            <i class="fab fa-skype fa-lg"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-rounded btn-lg" id="myBtn">
                        Voir plus
                    </button>
                     <!-- <svg xmlns="http://www.w3.org/2000/svg" width="360" height="61" viewBox="10 5  360 59" fill="none"
                        id="bordure">
                        <path
                            d="M357.243 30.5897V3.15121C357.243 1.51008 355.913 0.179688 354.271 0.179688C352.63 0.179688 351.3 1.51008 351.3 3.15121V21.9182C351.3 27.7144 348.985 33.2706 344.87 37.3523L340.175 42.0087C333.131 48.9957 323.611 52.9161 313.69 52.9161H42.483C32.4438 52.9161 22.8552 48.7482 16.0067 41.4076L12.2113 37.3394C8.39536 33.2493 6.27321 27.8638 6.27321 22.27V3.31629C6.27321 1.58399 4.86891 0.179688 3.13661 0.179688C1.40431 0.179688 0 1.584 0 3.31629V30.5897C0 47.3847 13.615 60.9998 30.41 60.9998H326.833C343.628 60.9998 357.243 47.3847 357.243 30.5897Z"
                            fill="#0F2A5B" />
                    </svg> -->
                    <div class="d-flex justify-content-between text-center mt-5 mb-2">
                        <div id="borderbtt">


                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-4 col-sm-4">

            <div class="card shadow traitCard" style="border-radius: 50px;">
                <div class="card-body text-center">
                    <div class="mt-3 mb-4" id="imagecarde">
                        <img src="https://img.freepik.com/photos-premium/medecin-souriant-vue-laterale-clinique_23-2149726955.jpg?size=626&ext=jpg&ga=GA1.2.780285893.1697472738&semt=ais"
                            class="img-fluid" />

                    </div>
                    <h4 class="mb-2" id="montitre">Marieme Diop</h4>
                    <p class="text-muted mb-4"> Une spécialiste en cardiologie est une professionnelle de la santé
                        hautement
                        qualifiée spécialisée dans le diagnostic,
                        le traitement et la prévention des maladies cardiovasculaires</p>
                    <div class="mb-4 pb-2">
                        <button type="button" class="btn btn-outline-primary btn-floating">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-floating">
                            <i class="fab fa-twitter fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-floating">
                            <i class="fab fa-skype fa-lg"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-rounded btn-lg" id="myBtn" data-bs-toggle="modal" href="#exampleModalToggle">
                        Voir plus
                    </button>

                    <div class="d-flex justify-content-between text-center mt-5 mb-2">
                        <div id="borderbtt">


                        </div>
                    </div>
                </div>
            </div>

 

            <!-- pagination  -->
            <nav aria-label="Page navigation example">
                <ul class="pagination mt-5 me-0">
                    <li class="page-item">
                        <a class="page-link" href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="">1</a></li>
                    <li class="page-item"><a class="page-link" href="">2</a></li>
                    <li class="page-item"><a class="page-link" href="">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal detail  -->


<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Detail Docteur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card1">
                    <div class="section_left">
                        <img src="assets/mentor1.jpg" alt="">
                    </div>
                    <div class="section_right">
                        <p>Nom: <span id="prop">Fall Bah</span></p>
                        <p>Spécialité: <span id="prop">Data Scientiste</span></p>
                        <p>Email: <span id="prop">Fall@gmail.com</span></p>
                        <p>Année Experience: <span id="prop">5 ans</span></p>
                        <button class="btn btn-secondary" data-bs-toggle="modal" href="#exampleModalToggle">Consulter
                            Profil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>